{% extends "base.html" %}
{% block title %}Grade 10 Mathematics{% endblock %}
{% block content %}
	<main>
        <h1>Grade 10 Mathematics</h1>
        <p>Grade 10 Mathematics is a course that covers the following topics:</p>
        <h2>Term 1</h2>
        <h3>Topics</h3>
        <ul>
            <li>Algebraic expressions</li>
            <ul>
                <li>Number systems</li>
                <li>Products of binomials and trinomials</li>
                <li>Factorisation of trinomials, grouping in pairs, difference of two cubes and sum of two cubes</li>
                <li>Algebraic fractions</li>
            </ul>
            <li>Exponents, equations and inequalities</li>
            <ul>
                <li>Laws of exponents</li>
            </ul>
            <li>Solving linear and quadratic equations</li>
            <li>Simultaneous equations</li>
            <li>Inequalities</li>
            <li>Trigonometry</li>
            <ul>
                <li>Reciprocals</li>
                <li>2D problems</li>
            </ul>
        </ul>
        <h2>Term 2</h2>
        <h3>Topics</h3>
        <ul>
            <li>Euclidean Geometry</li>
            <li>Analytical Geometry</li>
            <li>Functions</li>
        </ul>
        <h2>Term 3</h2>
        <h3>Topics</h3>
        <ul>
            <li>Trigonometric Functions</li>
            <li>Trigonometry (2D)</li>
            <li>Statistics</li>
            <li>Probability</li>
            <li>Finance and growth</li>
        </ul>
        <h2>Term 4</h2>
        <h3>Topics</h3>
        <ul>
            <li>Finance and growth</li>
            <li>Measurement</li>
            <li>Number Patterns</li>
        </ul>
		</main>

{% endblock %}
