{% extends "base.html" %}
{% block title %}Grade 10 Physical Sciences{% endblock %}
{% block content %}
 <main>
<h1>Grade 10 Physical Sciences</h1>

<h2>Term 1</h2>

<h3>Topics</h3>
<ul>
<li>WAVES, SOUND AND LIGHT</li>
<ul>
    <li>Transverse pulses on a string, spring</li>

<li>Transverse waves</li>

<li>Longitudinal waves</li>

<li>Sound</li>

<li>Electromagnetic radiation</li>

    </ul>

<li>ELECTRICITY AND MAGNETISM</li>
<ul>
<li>Electrostatics</li>

<li>Electric circuits</li>
    
    </ul>
    </ul>
<h2>Term 2</h2>

<h3>Topics</h3>

<ul>
    <li>ELECTRICITY AND MAGNETISM</li>

<ul>
    <li>Electric circuits</li>
    </ul>
<li>MATTER AND MATERIAL</li>
<ul>
    <li>States of matter and the kinetic molecular theory</li>
<li>The atom</li>

<li>Periodic table</li>

<li>Chemical bonding</li>
</ul>
<li>CHEMICAL CHANGE</li>

<ul>
    <li>Physical and chemical change</li>

<li>Representing chemical change</li>

<li>Quantitative aspects of chemical change</li>

    </ul>
    </ul>
<h2>Term 3</h2>

<h3>Topics</h3>

<ul>
    <li>CHEMICAL CHANGE</li>

<ul>
    <li>Quantitative aspects of chemical change</li>

    </ul>
<li>MECHANICS</li>
<ul>
    
<li>Vectors and scalars</li>

<li>Motion in one dimension</li>

<li>Instantaneous speed</li>

<li>Velocity and the equations of motion</li>

<li>Energy</li>

    </ul>

    </ul><h2>Term 4</h2>

<h3>Topics</h3>
<ul>
    <li>MECHANICS</li>

<ul>
    <li>Energy</li>

    </ul>
    </ul>
	</main>
{% endblock %}