{% extends "base.html" %}
{% block title %}Grade 11 Physical Sciences{% endblock %}
{% block content %}
<main>
        <h1>Grade 11 Physical Sciences</h1>

        <h2>Term 1</h2>

        <h3>Topics</h3>

        <ul>
            <li>MECHANICS</li>

            <ul>
                <li>Vectors in two dimensions</li>
                <li>Newton’s laws</li>
                <li>Newton’s Universal Law of Gravitation</li>
            </ul>
            <li>ELECTRICTY & MAGNETISM</li>

            <ul>
                <li>Electrostatics</li>
            </ul>
        </ul>
        <h2>Term 2</h2>

        <h3>Topics</h3>

        <ul>
            <li>ELECTRICITY & MAGNETISM:</li>

            <ul>
                <li>Electromagnetism</li>
                <li>Electric circuits</li>
            </ul>
            <li>MATTER & MATERIAL</li>

            <ul>
                <li>Atomic combinations</li>
                <li>Intermolecular forces</li>
            </ul>
        </ul>
        <h2>Term 3</h2>

        <h3>Topics</h3>
        <ul>
            <li>CHEMICAL CHANGE:</li>

            <ul>
                <li>Quantitative aspects of chemical change</li>
                <li>Energy and change</li>
                <li>Type of reactions</li>
                <li>Acids and bases</li>
                <li>Ideal gas</li>
            </ul>
        </ul>
        <h2>Term 4</h2>

        <h3>Topics</h3>

        <ul>
            <li>CHEMICAL CHANGE:</li>

            <ul>
                <li>Acid-base reactions</li>
                <li>Redox reactions</li>
            </ul>
        </ul>
            </main>

{% endblock %}

        