{% extends "base.html" %}
{% block title %}Grade 9 Mathematics{% endblock %}
{% block content %}
  <main>
    <h1>Grade 9 Mathematics</h1>
    <p>Grade 9 Mathematics is a course that covers the following topics:</p>
    <h2>Term 1</h2>
    <h3>Topics</h3>
    <ul>
    
        <li>Number and calculation</li>
        <li>Expressions and formulae</li>
        <li>Decimals, percentages and rounding</li>
        <li>Equations and inequalities</li>
    </ul>

    <h2>Term 2</h2>
    <h3>Topics</h3>
    <ul>
        <li>Angles</li>
        <li>Statistical investigations</li>
        <li>Shapes and measurements</li>
        <li>Fractions</li>
    </ul>

    <h2>Term 3</h2>
    <h3>Topics</h3>
    <ul>
        <li>Sequences and functions</li>
        <li>Graphs</li>
        <li>Ratio and proportion</li>
        <li>Probability</li>
    </ul>

    <h2>Term 4</h2>
    <h3>Topics</h3>
    <ul>
        <li>Position and transformation</li>
        <li>Volume, surface area and symmetry</li>
        <li>Interpreting and discussing results</li>
    </ul>
    
    </main

{% endblock %}
