{% extends "base.html" %}
{% block title %}Grade 8 Mathematics{% endblock %}
{% block content %}
        <main>
        <h1>Grade 8 Mathematics</h1>
        <p>Grade 8 Mathematics is a course that covers the following topics:</p>

        <h2>Term 1</h2>

        <h3>Topics</h3>

        <ul>
            <li>Integers</li>
            <li>Expressions, formulae and equations</li>
            <li>Place value and rounding</li>
            <li>Decimals</li>
        </ul>

        <h2>Term 2</h2>

        <h3>Topics</h3>
        <ul>
            <li>Angles and constructions</li>
            <li>Collecting data</li>
            <li>Fractions</li>
            <li>Shapes and symmetry</li>
        </ul>

        <h2>Term 3</h2>

        <h3>Topics</h3>

        <ul>
            <li>Sequences and functions</li>
            <li>Percentages</li>
            <li>Graphs</li>
            <li>Ratio and proportion</li>
            <li>Probability</li>
        </ul>

        <h2>Term 4</h2>

        <h3>Topics</h3>
        <ul>
            <li>Position and transformation</li>
            <li>Distance, area and volume</li>
            <li>Interpreting and discussing results</li>
        </ul>
            </main>

{% endblock %}

