{% extends "base.html" %}
{% block title %}Grade 11 Mathematics{% endblock %}
{% block content %}
<main>
    <h1>Grade 11 Mathematics</h1>
    <p>Grade 11 Mathematics is a course that covers the following topics:</p>
    <h2>Term 1</h2>

    <h3>Topics</h3>

    <ul>
        <li>Exponents and surds</li>
        <ul>
        <li>Exponential laws</li>
        <li>Rationalising surds</li>
        </ul>
        <li>Equations and inequalities</li>
<ul>
                <li>Completing the square</li>
        <li>Quadratic formulae</li>
        <li>Nature of roots</li>
        </ul>
        <li>Trigonometry</li>
        <ul>
        <li>Reduction formulae</li>
        <li>Trigonometric equations</li>
        <li>General solutions</li>
        </ul>
    </ul>

    <h2>Term 2</h2>

    <h3>Topics</h3>

    <ul>
        <li>Euclidean Geometry</li>
        <li>Analytical Geometry</li>
        <li>Functions</li>
    </ul>

    <h2>Term 3</h2>

    <h3>Topics</h3>

    <ul>
        <li>Trigonometry Functions</li>
        <li>Trigonometry (2D)</li>
        <li>Statistics</li>
        <li>Probability</li>
        <li>Finance and growth</li>
    </ul>

    <h2>Term 4</h2>

    <h3>Topics</h3>

    <ul>
        <li>Finance and growth</li>
        <li>Number Patterns</li>
    </ul>
	</main>

{% endblock %}