{% extends "base.html" %}
{% block title %}Grade 12 Physical Sciences{% endblock %}
{% block content %}
        <main>
            <h1>Grade 12 Physical Sciences</h1>

            <h2>Term 1</h2>

            <h3>Topics</h3>

            <ul>
                <li>MECHANICS</li>
                <ul>
                    <li>
                        <a href="Grade12PhSc-momentum1.html">Momentum</a> & <a href="Grade12PhSc-Impulse">impulse</a>
                    </li>
                    <li>Vertical projectile motion</li>
                </ul>
                <li>MATTER & MATERIALS</li>
                <ul>
                    <li>Organic molecules</li>
                </ul>
            </ul>

            <h2>Term 2</h2>

            <h3>Topics</h3>

            <ul>
                <li>MECHANICS</li>
                <ul>
                    <li>Work, energy, and power</li>
                </ul>
                <li>WAVES, SOUND & LIGHT</li>
                <ul>
                    <li>Doppler Effect</li>
                </ul>
                <li>CHEMICAL CHANGE</li>
                <ul>
                    <li>Rate and extent of reaction</li>
                    <li>Chemical equilibrium</li>
                    <li>Acids and bases</li>
                </ul>
            </ul>

            <h2>Term 3</h2>

            <h3>Topics</h3>

            <ul>
                <li>ELECTRICITY & MAGNETISM</li>
                <ul>
                    <li>Electric circuits</li>
                    <li>Electrodynamics</li>
                </ul>
                <li>MATTER & MATERIALS</li>
                <ul>
                    <li>Optical phenomena and properties of materials</li>
                </ul>
                <li>CHEMICAL CHANGE</li>
                <ul>
                    <li>Electrochemical reactions</li>
                </ul>
            </ul>

            <p></p>
            <p>/</p>
        </main>

{% endblock %}
