{% extends "base.html" %}
{% block title %}Grade 12 Mathematics{% endblock %}
{% block content %}
<main>
    <h1>Grade 12 Mathematics</h1>
    <p>Grade 12 Mathematics is a course that covers the following topics:</p>
    <h2>Term 1</h2>

    <h3>Topics</h3>

    <ul>
        <li>Number patterns, sequences and series</li>
        <li>Functions</li>
        <li>Exponential and logarithmic functions</li>
        <li>Trigonometry

        </li>
    </ul>

    <h2>Term 2</h2>

    <h3>Topics</h3>

    <ul>
        <li>Eclidean geometry</li>
        <li>Analytical Geometry</li>
        <li>Differential Calculus Including Polynomials</li>
    </ul>

    <h2>Term 3</h2>

    <h3>Topics</h3>

    <ul>
        <li>Finance, growth, decay and Annuities</li>
        <li>Statistics</li>
        <li>Probability and Counting principle</li>
    </ul>
</main>

{% endblock %}
